<html>
    <head>
    <title>Web Latihan</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/bootstrap.min.css")}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename="css/style.css")}}">
</head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-warning">
            <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('data_m') }}">Data Mahasiswa</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
           </div>
          </nav>

          <div class="container mt-5">
            <div class="row">
                <div class="col-md-8" style="box-shadow: 2px 5px; 5px; 1px">
                    
                    {% block kontent %}

                    {% endblock %}
                
                </div>

                <div class="col-md-4">
                    <div class="shadow p-4 mb-5 bg-white rounded">
                    <h1>Menu lain</h1>
                    <li>Data Mahasiswa</li>
                    <li>Data Dosen</li>
                    </div>
               </div>
            </div>
       </div>
    
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ url_for('static',filename="js/bootstrap.min.js")}}"></script>
</html>